<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="shortcut icon" href="/img/logo-sq.png" type="image/png">
    <meta name="description" content="better living through understanding ancient wisdom">
    <script src="https://js.stripe.com/v3/"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="css/stripe2.css"/>
    <link rel="stylesheet" type="text/css" href="css/academy.css"/>

</head>
<body>
<header class="site-header outer">
    <div class="inner">
        <div class="site-header-content">
            <h1 class="site-title">
                <img class="site-logo" src="/img/logo.png" alt="Jain Academy"/>
            </h1>
            <h2 class="site-description">better living through understanding ancient wisdom</h2>
        </div>
    </div>
</header>
{{{body}}}

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/bootstrap-datetimepicker.min.js"></script>
<script src="js/stripe2.js"></script>

</body>
</html>
