<div class="container">
    <div class="row">
        <!-- You can make it whatever width you want. I'm making it full width
             on <= small devices and 4/12 page width on >= medium devices -->
        <div class="col-xs-12 col-md-6 credit-card-col">
            <!-- CREDIT CARD FORM STARTS HERE -->
            <div class="panel panel-default credit-card-box">
                <div class="panel-heading display-table">
                    <h3 class="panel-title display-td">Purchase Ticket</h3>
                </div>
                <div class="panel-body">
                    <form action="/charge" method="post" id="payment-form">
                        <div class="form-row">
                            <div class="form-group col-md-8">
                                <label for="inputState">Ticket Type</label>
                                <select id="inputState" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputZip">Num</label>
                                <select id="inputZip" class="form-control">
                                    <option selected>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail5">First Name</label>
                                <input type="text" class="form-control" id="inputEmail5" placeholder="First Name">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputEmail6">Last Name</label>
                                <input type="text" class="form-control" id="inputEmail6" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-8">
                                <label for="inputEmail4">Email</label>
                                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="datetimepicker1">Birth Date</label>
                                <div class='input-group date' id='datetimepicker1'>
                                    <input type='text' class="form-control"/>
                                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="card-element">
                                    Credit or Debit Card Details
                                </label>
                                <div id="card-element">
                                </div>
                                <div id="card-errors" role="alert"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-row">
                                <div class="form-group col-md-8">
                                    <label for="inputDonation">Donation</label>
                                    <select id="inputDonation" class="form-control">
                                        <option>£0</option>
                                        <option>£5</option>
                                        <option selected>£10</option>
                                        <option>£15</option>
                                        <option>£20</option>
                                        <option>£25</option>
                                        <option>£30</option>
                                        <option>£50</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <button>Submit Payment</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="panel-footer">
                    <img src="/img/powered_by_stripe.png">
                </div>
            </div>
        </div>


    </div>
</div>
