.inner {
    max-width: 2040px;
}

.site-header {
    background-color: black;
}

.site-header-content {
    padding: 2vw 4vw;
}

.site-nav-logo img {
    height: 32px;
}

.site-logo {
    max-height: 85px;
}

.site-description {
    font-size: 2.0rem;
}

.post-full-image {
    height: 400px;
}

.headline {
    display: flex;
    min-height: 400px;
    margin-top: 40px;
}

.headline .above-title {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0px;
}

.headline .title {
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Bitter', serif;
    font-weight: 500;
    font-size: 1.4em;
}

.headline .below-title {
    font-family: 'Roboto', sans-serif;
    margin-top: 0px;
}

.subscribe {
    color: white;
    padding: 25px;
    background-color: #665434;
    flex-direction: column;
    flex: 1 1 300px;
    margin: 5px 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: rgba(39, 44, 49, 0.06) 8px 14px 38px, rgba(39, 44, 49, 0.03) 1px 3px 8px;
    transition: all 0.5s ease;
}

p.bold {
    font-weight: 600;
}

.uppercase {
    text-transform: uppercase;
}

.mc-field-group {
    margin-bottom: 40px;
}

.mc-field-group input[type='email'] {
    background-color: white;
}

.mc-field-group label {
    margin: 10px 0px 20px;
}

.subscribe h1 {
    font-size: 2.4rem;
}

.event {
    color: white;
    padding: 25px;
    background-color: #826b44;
    flex-direction: column;
    flex: 1 1 600px;
    margin: 5px 10px;
    border-radius: 5px;
    text-align: center;
    box-shadow: rgba(39, 44, 49, 0.06) 8px 14px 38px, rgba(39, 44, 49, 0.03) 1px 3px 8px;
    transition: all 0.5s ease;
}

.section-title {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Bitter', serif;
    font-weight: 500;
    font-size: 1.4em;
}

@media (min-width: 795px) {
    .home-template .post-feed .post-card:nth-child(6n+1):not(.no-image) {
        flex-direction: column;
        flex: 1 1 300px;
    }
}

@media (min-width: 900px) {
    .author-template .post-feed, .home-template .post-feed, .tag-template .post-feed {
        margin-top: 40px;
    }

    .home-template .site-nav {
        top: 0px
    }

}

@media (max-width: 500px) {
    .headline {
        flex-flow: row wrap;
    }

    .event, .subscribe {
        margin-right: 0px;
        margin-left: 0px;
    }
}

.eventpage .post-full-header h1 {
    text-align: left;
    font-size: 4rem;
    font-weight: 600;
}

.eventpage .ticketsale {
    margin: 40px 40px 40px 10px;
    padding: 10px;
    text-align: center;
    z-index: 9999;
    background-color: azure;
}

.eventpage .ticketsale h2 {
    padding: 0px 0px 10px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Bitter', serif;
}

.eventpage .ticketsale h3 {
    text-align: left;
    font-family: 'Bitter', serif;
}

.eventpage .ticketsale li {
    text-align: left;
}

.eventpage .ticketsale td {
    padding: 1vw 0vw;
}

.eventpage .ticketsale th {
    padding: 10px;
    background-color: #826b4461;
    border-bottom: 3px solid #826147;;
}

.eventpage .ticketsale .btn100 {
    width: 100%
}

.eventpage .checkout {
    margin: 40px 0px 20px;
    text-align: right;
}

.eventpage .post-full-content {
    padding: 0px;
}

.eventpage .post-full-content p {
    text-align: justify;
}

.eventpage .post-full-header {
    padding: 5vw 0vw 3vw;
    font-family: 'Bitter', serif;
    font-weight: 500;
    font-size: 2em;
}

.eventpage .post-full-content img {
    max-width: 600px;
}

.btn-red {
    background-color: #ed2025 !important;
    color: white !important;
    border: 0.1rem solid #ed2025;
    border-radius: .4rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 700;
    height: 3.8rem;
    letter-spacing: .1rem;
    line-height: 3.8rem;
    padding: 0 3.0rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}