<div class="container-fluid">
    <div class="row">
        <!-- You can make it whatever width you want. I'm making it full width
             on <= small devices and 4/12 page width on >= medium devices -->
        <div class="col-xs-12 col-md-6 credit-card-col">
            <!-- CREDIT CARD FORM STARTS HERE -->
            <div class="panel panel-default credit-card-box">
                <div class="panel-heading display-table">
                    <h3 class="panel-title display-td">Purchase Ticket</h3>
                </div>
                <div class="panel-body">
                    <form action="{{form_url}}" method="post" id="payment-form">
                        <div class="form-row">
                            <div class="form-group col-md-12 col-xs-12">
                                <label for="ticketType">Ticket Type</label>
                                <select id="ticketType" class="form-control" multiple="multiple">
                                    <optgroup label="Full Course">
                                        <option value="115" selected>Full Course - All Days. All Sessions (£115)
                                        </option>
                                        <option value="100">Full Course (Students/Reduced) - All Days. All Sessions.
                                            (£100)
                                        </option>
                                    </optgroup>
                                    <optgroup label="Individual Days">
                                        <option value="23">Saturday, 25th August, 8.30am - 7.00pm (£23)</option>
                                        <option value="23">Sunday, 26th August, 8.30am - 7.00pm (£23)</option>
                                        <option value="23">Monday, 27th August, 8.30am - 7.00pm (£23)</option>
                                        <option value="23">Saturday, 1st September, 8.30am - 7.00pm (£23)</option>
                                        <option value="23">Sunday, 2nd September, 8.30am - 7.00pm (£23)</option>
                                        <option value="16"> Weekday Evening Lectures, Tues 28th-Fri 31st (Free.
                                            Suggested Donation £16)
                                        </option>
                                    </optgroup>
                                </select>
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-8 col-xs-12">
                                <label for="inputDonation">Add a Donation</label>
                                <a href="#" data-toggle="tooltip" data-placement="right"
                                   title="We are operating this course at a loss to make it affordable and accessible to all members of our community. We would appreciate any additional donation you can give"> <span
                                        class="glyphicon glyphicon-question-sign"></span>
                                </a>
                                <select id="inputDonation" class="form-control">
                                    <option value="0">£0</option>
                                    <option value="5">£5</option>
                                    <option value="10" selected>£10</option>
                                    <option value="15">£15</option>
                                    <option value="20">£20</option>
                                    <option value="25">£25</option>
                                    <option value="30">£30</option>
                                    <option value="50">£50</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4 col-xs-12">
                                <label for="totalTicketNums">Num of Tickets</label>
                                <select id="totalTicketNums" class="form-control">
                                    <option value="1" selected>1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-8 col-xs-12">
                                <label for="inputFirstName">Full Name</label>
                                <input type="text" class="form-control" id="inputFirstName" placeholder="First Name"
                                       required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group col-md-4 col-xs-12">
                                <label for="inputTeleNum">Telephone Number</label>
                                <input type="text" class="form-control" id="inputTeleNum" required>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-8 col-xs-12">
                                <label for="inputEmail">Email</label>
                                <input type="email" class="form-control" id="inputEmail" placeholder="Email" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group col-md-4 col-xs-12">
                                <label for="datetimepicker1">Birth Date</label>
                                <div class='input-group date' id='datetimepicker1'>
                                    <input type='text' class="form-control"/>
                                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12 col-xs-12">
                                <label for="card-element">
                                    Credit or Debit Card Details
                                </label>
                                <div id="card-element">
                                </div>
                                <div id="card-errors" role="alert"></div>
                            </div>
                        </div>
                        <div class="form-row col-md-12 col-xs-12 align-center">
                            <div class="form-group">
                                <button id="submitPaymentBtn">Submit Payment</button>
                            </div>
                        </div>
                    </form>
                    <div class="processing">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="sk-circle">
                                    <img class="sk-child waiting-logo" src="/tickets/img/logo-sq.png"
                                         alt="Jain Academy"/>
                                    <div class="sk-circle1 sk-child"></div>
                                    <div class="sk-circle2 sk-child"></div>
                                    <div class="sk-circle3 sk-child"></div>
                                    <div class="sk-circle4 sk-child"></div>
                                    <div class="sk-circle5 sk-child"></div>
                                    <div class="sk-circle6 sk-child"></div>
                                    <div class="sk-circle7 sk-child"></div>
                                    <div class="sk-circle8 sk-child"></div>
                                    <div class="sk-circle9 sk-child"></div>
                                    <div class="sk-circle10 sk-child"></div>
                                    <div class="sk-circle11 sk-child"></div>
                                    <div class="sk-circle12 sk-child"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="align-center red">Your Payment request has been submitted.</p>
                                <p class="align-center red">Please wait and do not go close this page.</p>
                            </div>
                        </div>
                    </div>
                    <div class="processing-success">
                        <div class="row">
                            <div class="col-md-12 align-center">
                                <img class="sk-child waiting-logo" src="/tickets/img/logo-sq.png" alt="Jain Academy"/>
                                <p class="green">Processing was successful</p>
                                <p class="green bold" id="refFromServer"></p>
                            </div>
                        </div>
                    </div>
                    <div class="processing-error">
                        <div class="row">
                            <div class="col-md-12 align-center">
                                <img class="sk-child waiting-logo" src="/tickets/img/logo-sq.png" alt="Jain Academy"/>
                                <p class="red">There was an error. Please try again later</p>
                                <p class="red bold" id="refFromServer"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <img src="/tickets/img/powered_by_stripe.png">
                </div>
            </div>

            <div class="panel panel-default hidden">
                <div class="panel-heading">
                    Invite your WhatsApp Friends
                </div>
                <div class="panel-body">
                    <div id="whatsapp-share-img" class="well-lg share-img">
                        <img class="site-logo" src="/tickets/img/logo.png" alt="Jain Academy"/>
                        <p class="align-center uppercase white">Certificate course in Jainism</p>
                    </div>
                </div>
                <div class="panel-footer">
                    <button id="downloadImage">Share</button>
                </div>

            </div>

        </div>


    </div>
</div>
